{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="col-md-6 mx-auto">
        <form>
            <div class="form-group">
                <h5>
                    <lebel>Выберите категорию:</lebel>
                </h5>
                <select name="category" class="form-control mt-2">
                    <option value="Choose">Choose</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary mt-3">Выбрать данную категорию</button>
        </form>
    </div>
</div>
{% endblock content %}