{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block nav-link-login %}
    class="nav-link active"
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
                <h2 class="text-center pt-3">{{ title }}</h2>
                <!-- Form start -->
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        {{ form.username }}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        {{ form.password }}
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary">Войти</button>

                        <p class="text-center text-muted mt-2">Нет аккаунта?
                            <a href="{% url 'main:register' %} ">Регистрация</a></p>
                    </div>
                </form>
                <!-- Form close -->
            </div>
        </div>
    </div>
{% endblock content %}