{% extends 'base.html' %}

{% block title %}
Список тестов
{% endblock title %}

{% block content %}
<div class="container mt-3 pt-3">
    <div class="col-md-12 mx-auto">
        <section>
            <h4>Список тестов: </h4>
            {% for quiz in quizes %}
            <br>
            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title mt-1 pt-1">Категория: {{ quiz.category }}</h5>
                    <h5 class="card-title mt-1 pt-1">Название теста: {{ quiz.name }}</h5>
                    <a href="{% url 'quiz' quiz.pk %}" class="btn btn-primary mt-1 pt-1">Перейти к тесту</a>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock content %}